.ArticleContainer {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 5%;
  clear: both;
}
.ArticleContainer .Card {
  margin: auto;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  min-height: 400px;
  margin: 50px;
  overflow: hidden;
}
.ArticleContainer .Row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.ArticleContainer .Card .Header {
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
  color: blue;
}
.ArticleContainer .Card .Title {
  font-size: 1em;
  font-weight: 500;
  margin-left: 5px;
}

.ArticleContainer .SearchBarContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ArticleContainer .SearchBarContainer .SearchDropdown {
  flex: 1;
}

.ArticleContainer .pagePanel {
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.ArticleContainer .pagePanel .pageNumberStyle {
  background-color: blueviolet;
  border-radius: 2px;
  margin-left: 10px;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin: 20px;
}
